@page "/"

This is a very simplistic prototype for a type of game known as a clicker game, where the player can click on different options in order to buy upgrades which can help in incrementing a counter. This type of game usually implements a real-time aspect to it with some upgrades passively increasing the counter at a set rate per second, but since this is only meant as a demonsration of the most basic essence of the genre, the program does not have those features.

<p><br /></p>

<Counter IncrementAmount="1" />

